/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import './node_modules/bootstrap/scss/bootstrap.scss';

@import '~bootstrap-icons/font/bootstrap-icons.css';

/* Importing Datepicker SCSS file. */
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.scss';

@import '../node_modules/ngx-toastr/toastr-bs5-alert.scss';

@import '../node_modules/ngx-spinner/animations/ball-scale-multiple.css';

@import '../node_modules/ngx-spinner/animations/square-jelly-box.css';

@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

@import '../node_modules/bootswatch/dist/cosmo/bootstrap.min.css';

@import '../src/assets/css/boxicons-2.1.2/css/boxicons.css';

@import '../node_modules/bootstrap-select/dist/css/bootstrap-select.css';

@import '../node_modules/@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '../node_modules/@swimlane/ngx-datatable/assets/icons.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

.datatable-body-cell-label {
  font-size: 120%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.ngx-select__toggle-buttons {
  .caret {
    border: none;
  }
}

.dropdown-toggle:empty::after {
  border: none;
}

.ngx-select__toggle-caret {
  border: none;
  background-image: url('../src/assets/images/caret-down.png');
  background-repeat: no-repeat;
  background-position: right 0.3rem center;
  background-size: 12px 12px;
  width: 30px;
  //background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="#343a40" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2 5 6 6 6-6"/></svg>')
}

.ngx-select__toggle-buttons
  > .ngx-select__clear
  + .dropdown-toggle
  + .ngx-select__toggle-caret {
  display: none;
}

.readOnly,
ngx-select.readOnly .ngx-select__toggle {
  color: #212529 !important;
  pointer-events: none !important;
  cursor: not-allowed !important;
  background-color: #e9ecef !important;
}

ngx-select.is-invalid .form-control {
  background-position: right 2rem center, center right 2.25rem !important;
  border-color: #dc3545 !important;
}

.home-section .container-fluid {
  width: auto !important;
  padding-top: 67px;
  // padding-right: 30px;
}

.home-section.full {
  width: 100%;
  left: 0;
}

.home-section {
  position: relative;
  /*    background: #E4E9F7;
    height: 100vh;*/
  left: 5rem;
  width: calc(100% - 5rem);
  transition: all 0.5s ease;
}
